#myCanvas {
  background-image: url('assets/background.gif');
  background-size: cover;
}
head {
}
main {
  margin: auto;
  height: 600px;
  width: 960px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  font-size: 24px;
}
h1 {
  font-family: fantasy;
}
a {
  padding:5px;
}
strong {
  padding: 5px;
}
