#myCanvas {
  background-image: url('/Users/michaelmontalbano/Desktop/jumpinjellyfish/assets/background.gif');
  background-size: cover;
}

h1 {
  font-family: fantasy;
  margin-left: 350px;
  margin-top: 30px;
}
